/* Activities Card Styles */

/* nightlife */
.blue {
  background-color: #b3e6ff;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}
/* flight */
.green {
  background-color: #00ff99;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}

.pink {
  background-color: pink;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}
/* food */
.orange {
  background-color: #ffff80;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}

.brown {
  background-color: #e6ac00;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}

/* others */
.lightblue {
  background-color: #d9b3ff;
  height: 95px;
  border-radius: 4%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
}

.activity-card {
  height: 95px;
  margin-bottom: 2%;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 9px 0;
}

.activity-info {
  display: flex;
  align-items: flex-start;
  padding: 3px 12px;
  flex-direction: column;
  margin-top: 5px;
}

.info-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 0;
}

.margin-text {
  margin-left: 1%;
  margin-right: 2%;
  color: darkslategrey;
}

.price {
  font-size: 1.2em;
  font-weight: 700;
  color: firebrick;
  position: absolute;
  right: 5vh;
}

.center-item {
  display: flex;
  justify-content: center;

}

.icon-small {
  width: 25px;
  padding-left: 32%;
}