@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1 {
  color: black;
}

h2 {
  font-weight: 500;
  letter-spacing: 1.5px;

}

h3 {
  margin: 0;
  padding: 0;

}

.letter-spacing {
  letter-spacing: 2.5px;
}

p {
  margin: 0;
  padding: 0;
}

/* Page styles */

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% 5% 25%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Landing Page */



.app-title {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 11.5px;
  padding-bottom: 25%;
}

.landing-image {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg');
}

.landing-info {
  margin-top:50%;
  text-align: center;
}

.get-started {
  padding-bottom: 5%;
  width: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  padding-top: 15%;
}

.link {
  text-decoration: none;
}

/* Signup / login */

.signup-login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.signup-p {
  position: absolute;
  bottom: 15vh;
  left: 11vw;
  font-size: 1.2em;
}

.signup-login-form {
margin: 2%;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #FDA38E;
  padding: 3%;
  background: rgba(255,255,255);
  border: 1px solid #ececec;
  border-radius: 6% 6% 0 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style-type: none;
}

.navbar-icon {
  width: 50%;
}



/* Button */

.button-style {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  
}

.button-style:hover {
  border: none;
  background: pink;
  color: #ffffff !important;
  font-weight: 100;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

/* Create Trip Form */

.createTrip-page {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}


/* Home */

.trip-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  margin-top: 5%;
  color: white;
  padding: 4%;
}

.home-icon {
  width: 46px;
  padding-left: 32%;
}

.explore-img {
  width: 100%;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  border-radius: 8px;
}

.title-underline {
  border-bottom: 2px solid #ececec;
  margin-top: 10%;
  margin-bottom: 9%;
}

.trip-info {
  margin-top: 15%;
}


.trip-text {
  color: white;
}

/* Form */

.form-container {
  margin-top: 10%;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 6%;
}

.form-select {
  margin-bottom: 10%;
}

input {
  margin-top: 2%;
  border: 1px solid #E3E8EB;
  padding: 14px 15px;
  border-radius: 11px;
  width: 100%;
  font-size: 16px;
}

