@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1 {
  color: black;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% 5% 25%;
}
/* Landing Page */


.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app-title {
  font-size: 2em;
}

.signup-login-container {
  display: flex;
  align-items: center;
  margin-top: 50%;
  flex-direction: column;
  /* background-image: url('https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg') */
}
/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #FDA38E;
  padding: 3%;
  background: rgba(255,255,255);
  border: 1px solid #ececec;
  border-radius: 6% 6% 0 0;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style-type: none;
}

.navbar-icon {
  width: 50%;
}



/* Button createTrip */

.button-style {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  
}

  .button-style:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

    .button-text {
      text-decoration: none;
      color: white;
    }

    .button-text:hover {
      text-decoration: none;
      color: #404040;
    }

    /* Create Trip Form */

    .createTrip-page {
      width: 100vw;
      height: 100vh;
      /* background: url('https://static.vix.com/es/sites/default/files/o/oceano.jpg'); */
      background-repeat: no-repeat;
    }

    /* .createTrip-form {
      background-color: #0000CD;
      padding: 35px 30px 51px 30px;
      display: block;
      
    } */

/* Dashboard */

.draggable {
  width: 15vw;
  min-height: 8vh;
  margin: 5px auto;
  border-radius: 5%;
  color: "#494847";
}

.card-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 8vh;
  padding: 5px;
}

.trip-text {
  color: white;
}

/* Home */

.trip-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px whitesmoke;
  margin-top: 35px;
  color: white;
}

/* Form */

.form-container {
  margin-top: 10%;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 6%;
}

.form-select {
  margin-bottom: 10%;
}

input {
  margin-top: 2%;
  border: 1px solid #E3E8EB;
  padding: 14px 15px;
  border-radius: 11px;
  width: 90%;
  font-size: 16px;
}

/* signup Login */

.signup-login-form {
margin: 2%;
}
