/* Form */

.form-input {
  padding: 5%;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 18px;
  border: 1px solid #ccc;
  margin-bottom: 5%;
}

.form-input:focus {
  border-color: purple;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

.errors {
  text-align: right;
  color: purple;
}  

.login-form {
  width: 80%;
  position: absolute;
  top: 30vh;

}